<a href="https://colab.research.google.com/github/badapiri/Colab/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기 조심! / print() 문장은 화면에 출력해주는 명령어

파이썬에서 변수 만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 됨.

In [ ]:
print('This is My first python code!')

This is My first python code!

In [ ]:
name = '홍길동' #홀따옴표로 감싸있음 => 문자열
age = 2 #숫자
age = age + 1
print('안녕하세요 난', name, age)

안녕하세요 난 홍길동 3

In [ ]:
#연산자
a = 5
b = 3
print(a%b)

2

In [ ]:
a = 5
b = 3
print(a == b) # == 같은가? (비교연산자)
print(a != b) # != 같지 않은가?

False
True

In [ ]:
a = 5
b = 10
c = b
b = a
a = c
# c없이 a와 b로만 변경하기
# a = a + b 15
# b = a - b 5
# a = a - b 10
print(a, b) #서로 반대가 되게. (10, 5)

10 5

In [ ]:
str = 'hello' #문자열

In [ ]:
print(str)

hello

In [ ]:
#우리 반 학생을 저장 (1~10번) 
s1 = '김개똥'
s2 = '홍길동'
#만약 학생이 100명이라면 ? => 100의 변수가 필요
#하나의 묶음으로 보관 => List (다른 언어서는 배열 array)

student = ['김개똥', '홍길동', 100 , '김철수'] #리스트에 다른 형태의 자료형도 보관가능
print(student[1]) #리스트 번지는 0번지 부터 시작한다 (십진수는 0~9까지)
# .의 의미 얘가 할 수 있는 기능 목록이 나옴
student.append('이정환') #append는 새로운 항목을 추가 할 때
print(student[4])
#리스트에서 쓸 수 있ㄴㄴ 기능들은 어떤게 있을까??
student.pop(1)
#다시 출력
print(student)

홍길동
이정환
['김개똥', 100, '김철수', '이정환']

In [ ]:
#만약 1번의 이름, 국어, 영어. 정보 성적을 보관
#2번의 이름, 국어. 영어, 정보
s1 = ['김개똥', 100, 50 ,70]
s2 = ['홍길동', 60 ,70 ,100]

cls = [s1, s2] #리스트(배열)안에 리스트를 넣을 수 있음 => 2차원 리스트(배열)
print(cls[0]) #s1=김개똥의 배열
print(s1[1])#김개똥의 국어 점수
print(cls[0][1])

#배열과 리스트가 같을까?? => 배열은 크기가 고정 = 변경 불가, 리스트는 변함

['김개똥', 100, 50, 70]
100
100

In [ ]:
#여기만 실행하면 안됨
#type(변수) = 변수의 타입(자료의 형태를 출력)

print(type(cls)) #cls의 자료형
num = 3
print(type(num))

<class 'list'>
<class 'int'>

In [ ]:
#사용자 입력
name = input("이름을 입력해주세요 >>> ") #입력하기 기능
#또는 name = input('이름을 입력하세요')
#print('Hello', name)
print('hello '+ name)
print(f'hello {name}') # f'로 시작하는 포맷팅을 이용해서 변수를 안에 표현 할 수 있음

이름을 입력해주세요 >>> 양현욱
hello 양현욱
hello 양현욱

In [ ]:
#리스트에서 관해서.. 문자열
#String = 문자열
str = 'hello world'
print(str[4]) #['h', 'e' , 'l', 'l', 'o'..... 저장되고 있음]
print(len(str)) #len() 기능은 문자의 길이를 출력 공백 포함

list = [1, 2, 3, 4, 5] #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
#반복문 - 반복되는 작업을 쉽게
#상황 - 리스트 = [0, 0, 0, 0, 0, 0, ....] => 100칸 생성
#list = [ 0, 0, 0, 0, 0, 0, .......] 또는
#list = [] list.append(0) 추가하기 100번

#반복 명령어 - for, while
#for = 제한된 횟수 만큼 반복
#k = 반복하면서 사용할 변수
#range(범위) 0 ~ 범위까지
for k in range(2,5):
# : 표시는 중괄호 시작이랑 같은 뜻
  #안에 들여쓰기를 했음.
  print(k) #k = 0~9까지 변신
print('반복중')

2
3
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0, 2, 4, 6....] 순서로 값을 초기화
for n in range(100):
  list.append(n*2)
  print(list)
#n = 0, 1, 2....99
#range(a부터, b전까지, c만큼 +, - 해라)

In [ ]:
#for은 반복은 => 똑같은 작업을 할 수 잇도록 횟수를 지정하는 반복문
#인력하는 단의 구구단 출력
#예) 3입력 => 3 * 1 ..... 3 * 9 = 27
a = int(input('숫자를 입력해주세요 >>> '))
print(a * 3) #input으로 받은 값은 문자로 처리됨
# b = int(a) int 타입 = 정수값으로 변경

숫자를 입력해주세요 >>> 3
9

In [ ]:
a = int(input('숫자를 입력해주세요 >>> ')) # {} 는 안에 있는 변수의 값을 출력
for b in range(1,10): #1 ~ 10 전까지 = 1 ~ 9 콜론 : 붙이도록
    print(a, '*'  , b , '=', a * b) #반복할 문장은 Tab만큼 둘여써서 작성
    #print(f'{a} * {b} * = {a * b})

숫자를 입력해주세요 >>> 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
#1 ~ 입력수 (변수) 까지 369게임
# 3, 6, 9에는 대문자 X를 출력
#그리고 숫자마다 공백

#0. 끝나는 수를 입력하기
#1. 1부터 입력수 까지 출력 => for문 필요
#2. 3, 6, 9인지 검사를 하여 X로 변환
i = int(input('숫자를 입력해주세요 >>> '))

for b in range(1,i + 1):
  if b % 3 == 0:
    print('X')
  else:   #그 밖에 if와 같이 사용됨. if는 혼자 쓸 수 있지만, else는 혼자 사용 불가
    print(b)
    #if 조건 : => 참인지 검사
    # 참이라면 수행할 내용
    #if b 가 같은가
    #등호를 하나만쓰면, <- 복사, == 비교하는 것(비교연산자)

In [ ]:
# 나머지 연산자 알기
i = int(input('숫자를 입력해주세요 >>> '))

for b in range(1, i + 1):
  if b % 3 == 0: # % = 나머지 연산자 => 10 % 3 = 1
    print('X')
  else:
    print(b)

In [ ]:
i = int(input('숫자를 입력해주세요 >>> '))

for b in range(1, i + 1):
  # or 조건 중에 하나라도 참이면 참, and 조건이 모두 맞으면 참, \ + shift = |, ||는 자바에서 or 대신 사용한다
  if i == 3 or i == 6 or i == 9:
    print('X')
  else:
    print(b)

In [ ]:
# if 문 복습 for 문과 연계
# if = 조건 검가 = 만약 조건이 참이면 수행할 내용 작성

a = 4
#a가 5보다 크다면 "큰 수" 출력.
if a > 5:       
  print("큰 수") 
  print("입니다.") 
#콜론 표시의 주의 -
#콜론 다음에는 현재보다 들여쓰기 (탭) 

###차이점
if a > 5:       
  print("큰 수") 
print("입니다.") #들여쓰기 안하면 if 패밀리에 안들어가서 a <= 5여도 입니다.는 출력된다
#콜론 표시의 주의 -
#콜론 다음에는 현재보다 들여쓰기 (탭) 

if a > 5:
  print("큰 수")
else: #else: = '그 밖에' 참이 아닌 경우는 전부 이쪽으로 오게됨
  print("작은 수")

입니다.
작은 수

In [ ]:
#내가 생각한 숫자 맞추기
#10번의 기회동안 숫자를 맞춤
#10번의 기회 => 10번동안 입력을 받아야겠음
#10번 동안 => 10번 반복 -> for문 필요
#입력 받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하나??) => if문 필요
#10번 반복할 동안 검사를 매번 수행 => for 문 안에서 입력도 받고, 검사도 하고

ans = 15 #정답

#10번 반복
for A in range(10):
  num = int(input('정답은? ')) #입력 문자를 숫자로 변환

#ans랑 num이랑 같은가?
  if ans == num:
    print("정답")
  else:
    print("오답")

In [ ]:
#내가 생각한 숫자 맞추기
#10번의 기회동안 숫자를 맞춤
#10번의 기회 => 10번동안 입력을 받아야겠음
#10번 동안 => 10번 반복 -> for문 필요
#입력 받음 => input() 필요
#내가 입력한 숫자가 맞는지 검사(만약 일치하나??) => if문 필요
#10번 반복할 동안 검사를 매번 수행 => for 문 안에서 입력도 받고, 검사도 하고
import random
ans = random.randrange(1, 100) #정답

#10번 반복
for A in range(10):
  num = int(input('정답은? ')) #입력 문자를 숫자로 변환

#ans랑 num이랑 같은가?
  if ans == num:
    print("정답")
    break
    #빠져나가기 => 검색 파이썬에서 반복문 빠져나가기
  elif ans > num:
    print("UP")
  elif ans < num:
    print("DOWN")

정답은? 25
DOWN
정답은? 14
DOWN
정답은? 8
DOWN
정답은? 3
UP
정답은? 5
UP
정답은? 6
정답

In [ ]:
N = int(input('숫자를 입력해주세요 >>> '))
sum = 0
for i in range(1, N + 1):
  if i % 2 == 0:
    sum = sum + i
print(sum)

숫자를 입력해주세요 >>> 30
240

In [ ]:
N = int(input('숫자를 입력해주세요 >>> '))
sum = 0
for i in range(2, N + 1, 2):
  sum = sum + i
print(sum)

숫자를 입력해주세요 >>> 1000
250500

In [ ]:
N = int(input('숫자를 입력해주세요 >>> '))
sum = 0
if N % 2 != 0:
  N = N - 1
  mid = int(N/2) - 1
else:
  mid = int(N/2) + 1
sum = ((N + 2) * int(N / 4)) + mid
print(sum) #아마도 이거 잘못 계산한 코드

숫자를 입력해주세요 >>> 1000
251001

In [ ]:
import random
A = random.randrange(1,4)
M = int(input('뭐 낼래? 가위 1, 바위 2, 보 3 >>> '))
print(A)
print(M)
if  A == M:
  print('무승부')
elif (A == 1 and M == 3) or (A == 2 and M == 1) or (A == 3 and M == 2):
  print('컴퓨터의 승리',', 나의 패배')
else:
  print('나의 승리',', 컴퓨터의 패배')

뭐 낼래? 가위 1, 바위 2, 보 3 >>> 2
3
2
컴퓨터의 승리 , 나의 패배

In [ ]:
import random
A = random.randrange(1,4)
M = int(input('뭐 낼래? 가위 : 1, 바위 : 2, 보 : 3 >>> '))
print('컴퓨터 :', A)
print('나 :', M)
if 1 == A and 1 == M:
  print('컴퓨터 : 가위, 나 : 가위')
  print('비겼음')
elif 2 == A and 2 == M:
  print('컴퓨터 : 바위, 나 : 바위')
  print('비겼음')
elif 3 == A and 3 == M:
  print('컴퓨터 : 보, 나 : 보')
  print('비겼음')
elif 1 == A and 2 == M:
  print('컴퓨터 : 가위, 나 : 바위')
  print('컴퓨터의 패배, 나의 승리')
elif 1 == A and 3 == M:
  print('컴퓨터 : 가위, 나 : 보')
  print('컴퓨터의 승리, 나의 패배')
elif 2 == A and 1 == M:
  print('컴퓨터 : 바위, 나 : 가위')
  print('컴퓨터의 승리, 나의 패배')
elif 2 == A and 3 == M:
  print('컴퓨터 : 바위, 나 : 보')
  print('컴퓨터의 패배, 나의 승리')
elif 3 == A and 1 == M:
  print('컴퓨터 : 보, 나 : 가위')
  print('컴퓨터의 패배, 나의 승리')
elif 3 == A and 2 == M:
  print('컴퓨터 : 보, 나 : 바위')
  print('컴퓨터의 승리, 나의 패배')

뭐 낼래? 가위 : 1, 바위 : 2, 보 : 3 >>> 3
컴퓨터 : 3
나 : 3
컴퓨터 : 보, 나 : 보
비겼음

In [ ]:
import random
com = random.randrange(1,4)
me = int(input('뭐 낼래? 가위 1, 바위 2, 보 3 >>> '))
if me == com:
  print('무승부')
elif (me - com) % 3 == 1:
  print('이겼다')
else:
  print('졌다')

In [ ]:
# 1이 입력되면 0, 0이 입력되면 1로 출력하는 프로그램 만들자
N = int(input())
if N != 0:
  print(1)
elif N == 1:
  print(0)
#if N != 0
#  print(0)
#elif N == 0
# print(1)

1
0

In [ ]:
n = input()
if n == '1':
  print('0')
else:
  print('1')

In [ ]:
n = int(input())
print(1 - n)

In [ ]:
#for문과 배열을 섞아보자
#배열 = 리스트 => 변수의 집합 => 여러 개의 변수를 묶어서 보관
#그럼 어떻게 안에 있는 자료를 접근 할 수 있을까?? => 주소
lt = [] #빈 리스트 생성
#리스트와 관련된 명령어 알기
#lt. => 점을 찍으면 사용할 수 있는 명렁어가 나옴
lt.append(1) #뒤에 추가
lt.append(10)
lt.insert(1, 5) #(번지, 추가할 값) 리스트는 0번지 부터 출발
lt.insert(0, 20)
#1번지에 있는 1을 삭제
lt.remove(1) # 삭제 할 때는 주소 번지만 이용해서 삭제
print(lt)

[20, 5, 10]

In [ ]:
#[0, 10, 20, 30, 40. 50 ...... 1000]
lt = []
#for 변수 in 범위(리스트를 써도 되고, range() 이용)
for i in range(0, 1001, 10):
  lt.append(i)
print(lt)
#for i in range(101)
# lt.append(i*10)
#print(lt)

pos = lt.index(40)
#값을 찾아보고 해당 번지를 출력
#없으면 오류를 출력

str = 'hello wolrd' #문자열도 리스트로 다룰 수 있음
pos = (str[6])
pss = (str.index('w'))
#문자열에서는 find 명령어도 사용 할 수 있음
psss = (str.find('w'))
#find는 찾지 못하면 오류대신 -1을 출력
print(pos)
print(pss)
print(psss)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]
w
6
6

In [ ]:
#리스트에서 index를 쓰지 않고 해당 위치를 반환

a = [1, 2, 3, 4, 5, 6, 7] #크기 고정
find = int(input())
#for 문을 이용해보세요

###결과###
# 4입력 => 3(번지)출력
for i in a:
  A = a[find]
print(A)

4
5

In [ ]:
#마지막부터 값 찾기
#hint  range의 활용

a = [0,1,2,3,4,5,6,7,8,9]
size = len(a)
find = int(input())
#range(5) 0~4까지
#range(1,5) 1~4까지
#range(1,10, 2)  1~9까지 2씩 증가
#10부터 1까지 1씩 감소 =>  range(11, 0, -1)
# for k in range(size-1, -1 , -1):
#   if a[k] == find:
#     print(k)
#     break


for k in range(size):
  #0 번지 => 9만들기
  pos = size - 1 - k  #k=0일때 10-1-k=>9-0 = 9번지 찾기
  if a[pos] == find:
    print(pos)
    break

In [ ]:
#n = [1,3,5,76,8,3,1,2,3,54]
n = ['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july']

#range(10) =  [0,1,2,3,4,5,6,7,8,9]
for k  in n:  #in 다음에는  range만 가능한게 아님. 범위를 가지고 있는것
  print(k)

In [ ]:
#https://wikidocs.net/21
#반복문

# 조건이 참인 동안 반복
k = 0
while k < 5:
  print(k)
  k = k+1

print('byebye')
print(k)

In [ ]:
#패스워드를 검사하자. 비번이 맞을 때 까지 반복


pw = '1234'  #문자 1234
my = input('패스워드를 입력하세요')

#비번이 틀렸을 때 반복   pw  my 같지 않을때
while pw != my:  #!는 부정의 의미
  my = input('패스워드를 입력하세요')

print('welcome')

In [ ]:
password = '1234'

#무조건 반복하다가 조건이 맞으면 탈출(break)

while  True  :
  my = input('비밀번호를 입력해주세요 >>> ')
  if my == pass:
    break

In [ ]:
target = input("찾을 글자를 입력하세요 >>> ") #문자열도 리스트임
src = input("문자열을 입력하세요 >>>")
t_pos = 0
for i in src:
  # KINTEXT의 K == KTX[0]인 K와 같은지 비교
  if i == target[t_pos]:
    #만약 글자를 찾으면 target의 다음 글자
    t_pos = t_pos + 1
  if len(target) == t_pos:
    print('Y')
    break
print("끝")

찾을 글자를 입력하세요 >>> ktx
문자열을 입력하세요 >>>ktxtext
3
끝

In [ ]:
target, src = input().split()
t_pos = 0
A = 0
for i in src:
  if i[0] == target[t_pos]:
    t_pos = t_pos + 1
    A = A + 1
  if len(target) == t_pos:
    print('Y')
    break
    if len(target) != t_pos:
      print('N')

ktx kintext
Y

In [ ]:
#2023-04-11
# -------------------------정리-------------------------
#  변수를 사용 
#   - a = 1 <= 오른쪽에서 왼쪽으로 복사
#   - 저장되는 것에 종류가 있을까? = 자료형(숫자,문자,참/거짓...), 자료의 형태를 지정하지 않음

#  만약, 24명의 학생을 보관하려고 함. 변수가 몇 개 필요하지? => 24개 필요 => 너무 많음 => 한 번에 관리 할 수 없을까?
#   - 리스트 : 변수들의 집함, 모임(리스트(배열))...., 튜플, 딕셔너리, 집합)
#   - 사용법 : 주소가 있음(0번지 부터 시작)
#   - a[0] = 1 a리스트의 0번지에 1을 저장
#   - 번지에 꼭 숫자가 들어가야 할까? => 아니다. => 변수가 들어갈 수 있음(숫자인 변수)
#   - arr = 1, lt[arr] = 1 # lt리스트의 1번지에 1이 들어감 lt[1]
#   - 리스트의 크기는 변함. 항목을 추가할 수도 있고, 뺄 수도 있음.

# 기능을 사용하기
#   - 파이썬에서 만든 기능을 사용
#   - 명령어()
#   - print(), append(), len(), input(), remove(), int
#   - 기능을 만들어서 사용 할 수 있음. def:


# print, print()는 다른 말

# 문법
#   -반복문 : 같은 작업을 여러 번 반복시키는 명령
#     - for : 일정 범위 만큼 반복
#       - 예) 10번 반복해 X => 0 ~ 9까지 반복해
#       for 사용 할 변수 in range(10) #사용 할 변수에 0 ~ 9까지 적용
#       - range()의 활용
#       - range(10) : 0 ~ 9, range(5, 10) : 5 ~ 9, range(3, 10, 2) : 3 ~ 9, 2씩 증가
#       - # 10, 0, 1씩 감소 (= -1씩 증가)
for i in range(10, -1,-1): # 10 ~ 0까지 출력
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#리스트와 for를 사용해보자.
#리스트를 만드는데 [0, 1, 2, 3, 4]가 보관된 리스트 만들기
It = [] # 아무것도 없는 리스트 .append 이용해 추가
for i in range(5):
  It.append(i)
print(It)

[0, 1, 2, 3, 4]

In [ ]:
It = []
a = 0
size = int(input())
for i in range(size + 1):
  It.append(a)
  a += 1
print(It)

5
[0, 1, 2, 3, 4, 5]

In [ ]:
import random

It = []
a = random.randrange(0, 101)
for i in range(0, a):
  It.append(i)
print(It)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
while 1 > 0:  #맞는 경우 계속 반복
  ans = input("Q를 입력하시면 종료")
  if ans != 0:
    break

Q를 입력하시면 종료Q

In [ ]:
#숫자 하나를 입력하면 그 수로부터 1까지 출력 단 while문을 사용
n = int(input())
while n > 0:
  print(n)
  n -= 1

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#숫자를 하나 입력받아서
#입력 수 부터 100까지 출력
n = int(input())
while n != 101:
  print(n)
  n += 1

49
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100